<h1>Application created by: </h1>
  <ul>
      <li>Leona Chevrel</li>
      <li>Rémy Samson</li>
      <li>Christophe Leray</li>
  </ul>
  <p>Access to Github repository: <a href="https://github.com/RainbowQuartz/thp_s5_tuesday_project"> Repo Github </a></p>