<center>
  <br />
<h1>Welcome <%= @user.username%></h1>
<br />
<p>Your email address : <%= @user.email%></p>
<p>Your bio : <%= @user.bio%></p>
<p>To get back to this website's home, click <a href="<%= home_path%>">here</a>
</center>
